@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
$Strong-cyan: hsl(172, 67%, 45%);
$Very-dark-cyan: hsl(183, 100%, 17%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

:root {
    font-size: 24px;
}

* {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    background-color: $Light-grayish-cyan;

    .logo {
        position: absolute;
        top: 10%;
    }

    .container {
        display: flex;
        justify-content: space-a;
        background-color: $White;
        border-radius: 20px;
        height: 400px;
        width: 750px;

        .dollar{
            background-position: 10px 50%;
            background-image: url(../images/icon-dollar.svg);
            background-repeat: no-repeat;
        }
        input[type=text] {
            background-color: $Very-light-grayish-cyan;
            border: none;
            border-radius: 3px;
            width: 100%;
            height: 35px;
            font-size: 0.9rem;
            cursor: pointer;
            &:focus{
                outline: 2px solid $Strong-cyan;
            }
        }

        &_left {
            margin: 20px 20px 20px 40px;

            h2 {
                color: $Dark-grayish-cyan;
                font-size: 0.7rem;
                margin-bottom: 5px;
            }

            .container_bill {
                margin-bottom: 40px;
            }

            .container_select {
                margin-bottom: 40px;
            }

            .container_select_grid {
                display: grid;
                grid-template-columns: repeat(3, 100px);
                grid-auto-rows: 40px;
                gap: 10px;

                .pourcent {
                    background-color: $Very-dark-cyan;
                    border-radius: 5px;
                    border: none;
                    color: $White;
                    font-size: 0.9rem;
                    cursor: pointer;
                    &:hover{
                        background-color: lighten($color: $Strong-cyan, $amount: 30);
                        color: $Very-dark-cyan;
                    }
                    // refaire en JS fix le click addEventlistener
                    // &:focus{ 
                    //     background-color: lighten($color: $Strong-cyan, $amount: 30);
                    //     color: $Very-dark-cyan;
                    // }
                    
                  
                }

                .custom {
                    cursor: pointer;
                    background-color: $Very-light-grayish-cyan;
                    color: $Dark-grayish-cyan;
                    border-radius: 5px;
                    border: none;
                    font-size: 0.9rem;
                }
            }

            .container_people {
                .people_number{
                    background-image: url(../images/icon-person.svg);
                    background-repeat: no-repeat;
                    background-position: 10px 50%;
                   
                }
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            padding: 35px;
            margin: 20px;
            width: 50%;
            background-color: $Very-dark-cyan;
            border-radius: 13px;
            .container_total{
                height: 100%;
            }
            input[value=Reset]{
                height: 50px;
                border-radius: 3px;
                background-color: lighten($color: $Very-dark-cyan, $amount: 5);
                border: none;
                color: $Very-dark-cyan;
                text-transform: uppercase;
                font-size: 0.7rem;
                cursor: pointer;
                &:hover{
                    background-color: lighten($color: $Strong-cyan, $amount: 30);
                    color: $Very-dark-cyan;
                }
            }
            h2 {
                color: $Very-light-grayish-cyan;
                font-size: 0.7rem;

            }

            p {
                color: $Grayish-cyan;
                font-size: 0.5rem;
                margin-bottom: 40px;
            }
        }
    }
}